{{#content-for "head"}}
  <title>{{section.metadata.title}} | {{site.name}}</title>
  <meta name="description" content="{{section.metadata.description}}">
  <link rel="canonical" href="{{requestOrigin}}{{canonicalPath}}">
{{/content-for}}

<div class="container-fluid">
  <div class="row">
    <div class="col my-3" style="padding-left:6rem; padding-right:6rem;">
      <section
        data-id="{{section.id}}"
        class="website-section website-section--display website-section--{{replace section.alias "/" "-"}}"
      >
        <div class="row mb-3">
          <div class="col">
            {{placeholder-ad size="970x90"}}
          </div>
        </div>

        <h1 class="website-section__name">{{section.name}}</h1>
        <p class="website-section__description">{{section.description}}</p>
        <hr>

        {{#website-schedule-query
          sectionId=section.id
          limit=18
          as |items|
        }}
          <div class="row">
            {{#each items as |item|}}
              <div class="mb-3 col-12 col-lg-6 col-xl-4">
                <div class="card h-100">
                  <div class="card-body">
                    <h4>{{item.shortName}}</h4>
                    <div class="card-text">{{item.teaser}}</div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        {{/website-schedule-query}}
      </section>
    </div>
  </div>
</div>
