<h1>{{title}}</h1>
<h2>Section: {{alias}}</h2>
<hr>
<p>Block #1 delay for {{delay 250}}ms</p>
<p>Block #2 delay for {{delay 350}}ms</p>
<p>Block #3 delay for {{delay 100}}ms</p>
<p>Block #4 delay for {{delay 500}}ms</p>
<hr>
<p>This page should <strong>not</strong> take 1200ms to load...</p>
<p>It <em>should</em> be a bit over 500ms.</p>
